@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

h1{ 
    display: flex;
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
    font-weight:500;
    color: white;
    border:solid;
    border-color: white;
    border-radius: 10px;
    min-width: fit-content;
    width: 50%;
    align-content: center;
    justify-content: center;
    margin: auto;
    box-shadow: 4px 4px;
}

body {
    background: lightblue;
}

#container{
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 1fr 3.5fr;
    grid-template-areas: "input label"
                        "input display";
    font-family: 'Poppins', sans-serif;
    font-size: large;
}

#labels{
    grid-area: 1/2;
    display: grid;
    grid-template-columns: 1fr 1fr 0.25fr 0.25fr 0.25fr;
    grid-template-rows: 50px;
    margin-top:10px;
    height: 50px;
    align-items: center;
    justify-items: center;
    white-space: nowrap;
    border:solid;
    border-color:white;
    box-shadow: 4px 4px white;
    margin-right: 4.5%;
    margin-left: 0.75%;
    color: black;

}

#add-book{
    grid-area: input;
    display: flex;
    flex-direction: column;
    height: 80vh;
    padding: 10px;
    align-items: center;
    justify-content: center;
    border:solid;
    border-radius: 10px;
    margin-top: 2%;
    width: 60%;
    min-width: fit-content;
    height: 550px;
    max-height: 1fr;
    border-color: white;
    color:rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    flex-wrap: nowrap;
    box-shadow: 4px 4px;
}

#add-btn{
    padding: 5px 5px;
    text-decoration: none;
    font-size: 80px;
    background: transparent;
    appearance: none;
    border-color: white;
    border-radius: 10rem;
    height: 100px;
    width: 100px;
    color: coral;
}

input[type="text"],input[type="number"]{
    /* -webkit-appearance: none; */
    background-color:white;
    border-radius: 10px;
    border:none;
    width: 400px;
    height: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
input[type="radio"]{
    align-self: center;
    margin-left: 20%;
}

#add{
    align-self: center;
    border: none;
    padding: 1rem 2rem;
    justify-self: center ;
    background: transparent;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    cursor: pointer;
    border:solid;
    text-align: center;
    -webkit-appearance:none;
}
#add:hover{
    background: rgb(124, 207, 235);
}

#container > #display{
    grid-area: display;
}

.modal-container{
    background-color: rgba(176, 217, 231,50%);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top:0;
    left:0;
    opacity: 0;
    pointer-events: none;
    height:100vh;
    width:100vw;
}
.modal-container.show{
    opacity: 1;
    pointer-events: auto;
}

.modal{
    font-family: 'poppins',sans-serif;
    display: flex;
    flex-direction:column;
    background-color: rgb(67, 213, 213);
    max-width: 100%;
    padding: 20px 20px;
    border-radius: 10px;
    font-size: 30px;
    height: auto;
    justify-content: space-around;
    color: white;
    box-shadow: 4px 4px white;
}

#close{
    background: transparent;
    color: white;
    width: 30px;
    font-size: 20px;
    align-self: flex-end;
    height: 30px;
    border:solid;
    border-radius: 50px;

}

#display{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* border:solid; */
    border-color: white;
    border-radius: 10px;
    margin-top: 5px;
    margin-right: 0%;
}

.book-info{
    background-color: white;
    height: 120px;
    border: solid;
    border-color: skyblue;
    border-radius: 10px;
    width: 95%;
    box-shadow: 2px 4px 20px -5px black;
    margin-left: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 0.25fr 0.25fr 0.25fr;
    grid-template-rows: 1fr;
    grid-template-areas: "title author pages read removeBtn";
    align-items: center;
    justify-items: center;
}

#bookname{
    grid-area: title;
}

#authorname{
    grid-area: author;
}

#pages {
    grid-area: pages;
}

#read {
    grid-area: read;
}

.removeBtn, .readBtn{
    padding: 5px 5px;
    text-decoration: none;
    font-size: 25px;
    background: transparent;
    appearance: none;
    border-color: cyan;
    border-radius: 10rem;
    height: 50px;
    width: 50px;
    color: coral;
}

.readBtn{
    height: 50px;
    width: 50px;
}

#error{
    font-size: 25px;
    color:white;
}
