@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

h1{ 
    display: flex;
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
    font-weight:500;
    color: white;
    border:solid;
    border-color: white;
    border-radius: 10px;
    /* max-width: auto; */
    min-width: fit-content;
    width: 50%;
    align-content: center;
    justify-content: center;
    margin: auto;
}

body {
    background: lightblue;
}

#container{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 3.5fr;
    grid-template-areas: "input display";
    font-family: 'Poppins', sans-serif;
    font-size: large;
}

#add-book{
    grid-area: input;
    display: flex;
    flex-direction: column;
    height: 80vh;
    padding: 10px;
    align-items: center;
    justify-content: center;
    border:solid;
    border-radius: 10px;
    margin-top: 2%;
    width: 60%;
    min-width: fit-content;
    height: 550px;
    max-height: 1fr;
    border-color: white;
    color:rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    flex-wrap: nowrap;
}

#add-btn{
    padding: 5px 5px;
    text-decoration: none;
    font-size: 80px;
    background: transparent;
    appearance: none;
    border-color: white;
    border-radius: 10rem;
    height: 100px;
    width: 100px;
    color: coral;
}

input[type="text"],input[type="number"]{
    /* -webkit-appearance: none; */
    background-color:white;
    border-radius: 10px;
    border:none;
    width: 400px;
    height: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
input[type="radio"]{
    align-self: center;
    margin-left: 25%;
}

.modal > #add{
    align-self: center;
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    background: transparent;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    cursor: pointer;
    border:solid;
    text-align: center;
    -webkit-appearance:none;
}
.modal > #add:hover{
    background: rgb(124, 207, 235);
}

#container > #display{
    grid-area: display;
}

.modal-container{
    /* display: none; */
    /* background-color: white; */
    background-color: rgba(176, 217, 231,50%);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top:0;
    left:0;
    opacity: 0;
    pointer-events: none;
    height:100vh;
    width:100vw;
}
.modal-container.show{
    opacity: 1;
    pointer-events: auto;
}

.modal{
    display: flex;
    flex-direction: column;
    background-color: rgb(67, 213, 213);
    max-width: 100%;
    padding: 20px 20px;
    border-radius: 10px;
}